.box-login {
    width: 100%;
    max-width: 120rem;
    height: 60rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 4.5%;

    display: grid;
    grid-template-columns: 60rem auto;
}

.box-login .formulario {
    height: 100%;
    padding: 10rem 12rem;
    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.box-login .logo {
    grid-column: 1/9;
    font-size: 1.5rem;
}

.box-login h2 {
    grid-column: 1/9;
    color: gray;
    font-family: cursive;
}

.box-login .btn-facebook {
    width: 20.5rem;
    height: 3rem;
    grid-column: 1/4;
    background-color: rgb(28, 28, 142);
    color: white;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login .btn-xing {
    width: 20rem;
    grid-column: 5/8;
    border: 1px solid black;
    height: 3rem;
    background-color: rgb(3, 51, 3);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login span {
    grid-column: 1/9;
    color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
}